<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<!-- Menú de Navegación -->
<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Acerca de</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
</nav>

<!-- Contenido Principal -->
<main class="container">
    <section class="card">
        <h1>Contáctanos</h1>
        <p>Si tienes preguntas o comentarios, envíanos un correo a: <a href="mailto:milleniumdevmx@gmail.com">milleniumdevmx@gmail.com</a></p>
    </section>
</main>

<!-- Footer -->
<footer class="footer">
    <p>© 2024 Desarrollado por <a href="https://www.christiandev94.com" target="_blank" style="color: #ADD8E6;">Christian Glez García</a>. Todos los derechos reservados.</p>
    <p><a href="/privacidad">Política de Privacidad</a> | <a href="/aviso_legal">Aviso Legal</a></p>
</footer>

</body>
</html>
